html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: 'Average', serif;
  font-size: 1.1em;
  background-color: #ccc;
}

a {
  color: #d35400;
  text-decoration: none;
  border-bottom: 0.18em dotted;
}

a:hover,
li.current a {
  border-bottom: 0.18em solid;
}

h1,
nav {
  font-family: 'Abril Fatface', cursive;
}

h1 { font-size: 2.8em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

nav ul {
  font-size: 1.8em;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  padding-right: 1em;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  color: #2980b9;
}
